* {
    padding: 10px;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #C75A24;
}

nav {
    background-color: #FBA478;
}

main {
    background-color: #7A503B;
    margin-top: 30px;
}

figure {
    padding: 0px;
}

figcaption {
    font-size: 10px;
    padding: 0px;
}

footer {
    background-color: #E38024;
}
