* {
    padding: 10px;
}
body {
    background-image: url("assets/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: lightblue;
}

figure {
    padding: 0px;
}

figcaption {
    font-size: 10px;
    padding: 0px;
}

footer {
    background-color: lightgreen;
}
